<header>
    <div id="logo">
        <a href="/">
            <img src="../../assets/logo_tereva.png" alt="Logo">
        </a>
    </div>
    <ul class="menu">
        <li>
            <div class="dropdown">
                <a class="dropdown-menu" href="#">Voyages Scolaires</a>
                <div class="dropdown-content">
                  <a href="#">
                    <img src="../../assets/photos-accueil/photo2-gallery.jpeg" alt="Image 1">
                    Option 1
                </a>
                <a href="#">
                    <img src="../../assets/photos-accueil/photo2-gallery.jpeg" alt="Image 2">
                    Option 2
                </a>
                </div>
            </div>
        </li>
        <li>
          <div class="dropdown">
              <a class="dropdown-menu" href="#">Séjours</a>
              <div class="dropdown-content">
                <a href="#">
                  <img src="../../assets/photos-accueil/photo3-gallery.jpeg" alt="Image 1">
                  Option 1
              </a>
              <a href="#">
                  <img src="../../assets/photos-accueil/photo2-gallery.jpeg" alt="Image 2">
                  Option 2
              </a>
  
              </div>
          </div>
      </li>
      <li>
        <div class="dropdown">
            <a class="dropdown-menu" href="#">Groupes</a>
            <div class="dropdown-content">
              <a href="#">
                <img src="../../assets/photos-accueil/photo1-gallery.png" alt="Image 1">
                Ski
            </a>
            <a href="#">
                <img src="../../assets/photos-accueil/photo2-gallery.jpeg" alt="Image 2">
                Kayak
            </a>

            </div>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <a class="dropdown-menu" href="#">hébergements</a>
            <div class="dropdown-content">
              <a href="#">
                <img src="../../assets/photos-accueil/photo1-gallery.png" alt="Image 1">
                Ski
            </a>
            <a href="#">
                <img src="../../assets/photos-accueil/photo2-gallery.jpeg" alt="Image 2">
                Kayak
            </a>

            </div>
        </div>
    </li>
        <li>
          <div class="input-container">
            <input type="text" name="text" class="input" placeholder="rechercher...">
          </div>
        </li>
    </ul>
</header>
