<footer>
    <div class="footer-content">
      <ul class="menu">
        <li><p>Nous joindre : Du lundi au vendredi de 9h à 20h</p></li>
        <li><a href="tel:+33971043855"><img src="../../assets/favicons/phone-solid.svg" alt="tel"></a></li>
        <li><a href="mailto:clement.gehin@telecomnancy.net"><img src="../../assets/favicons/envelope-regular.svg" alt="mail"></a></li>
        <li> <a href="https://www.instagram.com/terevaloisirs/?hl=fr"><img src="../../assets/favicons/instagram.svg" alt="Insta"></a></li> 
        <li><a href="https://twitter.com/TEREVALoisirs"><img src="../../assets/favicons/x-twitter.svg" alt="twitter"></a></li>
        <li> <a href="https://www.facebook.com/profile.php?id=100067189207141"><img src="../../assets/favicons/facebook-f.svg" alt="Facebook"></a></li>
        <li><a class="menu-link" href="/carriere">Carrière</a></li>
      <li class="connexion"><a href="/connexion">Connexion</a></li>
      </ul>
    </div>
  </footer>   