  <div class="colonnes">
    <div class="colonne colonne-gauche">
        <img src="../../assets/hebergement1/photo1.jpeg" alt="Image 0">
        <div class="texte-overlay">
          <h1 style="color: white;">Hébergement 1</h1>
          <table>
              <tr>
                  <th>Contact</th>
                  <th>Téléphone</th>
                  <th>Email</th>
              </tr>
              <tr>
                  <td>John Doe</td>
                  <td>123-456-7890</td>
                  <td>john@example.com</td>
              </tr>
              <tr>
                  <td>Jane Smith</td>
                  <td>987-654-3210</td>
                  <td>jane@example.com</td>
              </tr>
          </table>
          </div>
    </div>
    <div class="colonne colonne-droite">
            <div class = "gallery-item">
                <img src="../../assets/hebergement1/photo1.webp" alt="Photo 1">
            </div>
            <div class = "gallery-item">
                <img src="../../assets/photos-accueil/photo2-gallery.jpeg" alt="Photo 2">
            </div>
            <div class = "gallery-item">
                <img src="../../assets/photos-accueil/photo3-gallery.jpeg" alt="Photo 3">
            </div>
            <div class = "gallery-item">
                <img src="../../assets/photos-accueil/photo4-gallery.jpeg" alt="Photo 4">
            </div>
          </div> 
  </div>

  <div class="colonnes">
    <div class="colonne colonne-gauche">
        <h1>Description :</h1>
    </div>
    <div class="colonne colonne-droite">
      <div id="map"></div>
  </div>
   
    <!-- Informations -->
    <div class="infos">
      <h2>Informations</h2>
      <table>
        <tr>
          <th>Service</th>
          <th>Disponibilité</th>
        </tr>
        <tr>
          <td>Piscine</td>
          <td>Oui</td>
        </tr>
        <tr>
          <td>Restaurant</td>
          <td>Non</td>
        </tr>
        <tr>
            <td>Langues</td>
            <td>Français</td>
          </tr>
          <tr>
            <th>Confort</th>
          </tr>
          <tr>
            <td>Wi-Fi</td>
            <td>Tables</td>
          </tr>
          <tr>
            <td>Restaurant</td>
            <td>Non</td>
          </tr>
      </table>
    </div>
  