<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tereva Loisirs</title>
  <link rel="stylesheet" type="text/css" href="./accueil.component.css">
</head>
<body>
  <app-header></app-header>
  <div class="colonnes">
    <div class="colonne colonne-gauche">
        <img src="../../assets/photos-accueil/c.jpeg" alt="Image 0">
        <div class="texte-overlay">
            <h1 style="color: white;">Bienvenue chez Tereva Loisirs</h1>
            <p>Là où vos envies et besoins prennent vie</p>
            <a href="tel:+33971043855"><img style="height: 40px; width: 40px;" src="../../assets/favicons/devis.png" alt="tel"></a>
            <a href="mailto:clement.gehin@telecomnancy.net"><img style="height: 40px; width: 40px; padding-left: 10px;" src="../../assets/favicons/mail-accueil.png" alt="mail"></a>
          </div>
    </div>
    <div class="colonne colonne-droite">
            <div class = "gallery-item">
                <img src="../../assets/photos-accueil/photo1-gallery.png" alt="Photo 1">
            </div>
            <div class = "gallery-item">
                <img src="../../assets/photos-accueil/photo2-gallery.jpeg" alt="Photo 2">
            </div>
            <div class = "gallery-item">
                <img src="../../assets/photos-accueil/photo3-gallery.jpeg" alt="Photo 3">
            </div>
            <div class = "gallery-item">
                <img src="../../assets/photos-accueil/photo4-gallery.jpeg" alt="Photo 4">
            </div>
          </div> 
  </div>
  <div class="texte">
    <div class="Titre">
      <h1>Nos Métiers</h1>
    </div>
    <div class="paragraphe">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
           ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
           voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
           occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="image-container">
      <div class="image-item">
        <img src="../../assets/photos-accueil/photo1-gallery.png" alt="Image 1">
        <a href="https://www.facebook.com/clubdeplageroyanstgeorges" class="image-name"><h2 style="color: white;">Séjours éducatifs scolaires</h2></a>
      </div>
      <div class="image-item">
        <img src="../../assets/photos-accueil/photo2-gallery.jpeg" alt="Image 1">
        <a href="https://www.facebook.com/clubdeplageroyanstgeorges" class="image-name"><h2 style="color: white;">Vacances en groupes</h2></a>
      </div>
      <div class="image-item">
        <img src="../../assets/photos-accueil/photo3-gallery.jpeg" alt="Image 1">
        <a href="https://www.facebook.com/clubdeplageroyanstgeorges" class="image-name"><h2 style="color: white;">Gîtes de groupes</h2></a>
      </div>
    </div>
    
      

    <div class="bouton">
      <a href="https://www.facebook.com/clubdeplageroyanstgeorges">Tous nos hébergements</a>
    </div>
  </div>

  <app-footer></app-footer>

</body>
</html>
